@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Big+Shoulders+Display:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Lexend+Deca:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  background: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

:root {
  --blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

.hero {
  border-radius: 0.625rem;
  width: 20rem;
  height: 20rem;
}

h1 {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 400;
  transition: 0.5s ease;
}

h1:hover {
  color: var(--cyan);
  cursor: pointer;
}

h2 {
  color: var(--blue);
  font-size: 1.25rem;
  font-weight: 300;
}

.eth {
  color: var(--cyan);
}

.days {
  color: var(--blue);
  font-weight: 300;
}

.avatar {
  width: 1.875rem;
  border-radius: 100%;
  border: 1.5px solid hsla(0, 0%, 100%, 0.7);
}

.creation {
  color: var(--blue);
  font-weight: 300;
}

.name {
  color: var(--white);
  transition: 0.5s ease;
}

.name:hover {
  color: var(--cyan);
  cursor: pointer;
}

.icon-name {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.days-left,
.icon-eth {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.eth-days {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--line-blue);
}

article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  margin-top: 1.5rem;
}

main {
  background-color: var(--card-bg);
  display: inline-flex;
  flex-direction: column;
  padding: 1.875rem 1.75rem;
  border-radius: 1.25rem;
  margin-bottom: 2.5rem;
  box-shadow: 0.125rem 0.125rem 0.375rem 0.125rem hsla(213, 60%, 3%, 0.2);
}

.overlay {
  background-color: hsla(178, 100%, 50%, 0.4);
  transition: 0.5s;
  position: absolute;
  opacity: 0;
  z-index: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 0.625rem;
  transition: 0.5s ease-in-out;
}

.overlay:hover {
  opacity: 0.8;
  cursor: pointer;
}

.eye {
  transition: 0.5s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  z-index: 10;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: hsl(215, 32%, 27%);
  margin-bottom: 1.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 500px) {
  article {
    gap: 0.625rem;
    width: 25rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  main {
    width: 90vw;
  }

  .overlay,
  .eye,
  .hero {
    width: 25rem;
    height: 25rem;
  }
}
